//----- section header-------------------//
#sectionHeader
    height: 200px
    display: flex
    justify-content: center
    justify-content: space-around
    align-items: center
    flex-direction: column

.img-sectionHeader
    margin-top: 50px

#navBar
    margin-bottom: 10px
    font-family: 'Roboto', sans-serif

    
.li-sectionHeader
    margin: 30px
    margin-bottom: 20px
    
.li-sectionHeaderLast
    margin-top: 35px
    margin-bottom: 20px
    display: flex

.a-sectionHeader
    color: grey
    font-size: 10px
    font-family: 'Roboto', sans-serif

.a-sectionHeader:hover
    color: black


#modeClair
    margin-right: 5px
    border-radius: 20%

#modeSombre
    border-radius: 20%

//----- section 1-------------------//
.div-Supp-section1
    background-color: #f2f2f2
    align-items: center
    position: relative
    
    
.div1-section1
    height: 320px
    background-color: #f2f2f2
    z-index: 0
    margin-left: 150px
    position: absolute

.h1-section1
    color: #dd4545
    font-family: 'Roboto', sans-serif



.img1-section1
    height: 90px

.p-section1
    font-size: 12px
    font-family: 'Roboto', sans-serif

.button-section1
    background-color: #dd4545
    color: white
    height: 40px 
    width: 140px
    border: none
    font-size: 10px 
    font-family: 'Roboto', sans-serif

.button-section1:hover
    color: black

.a-section1
    justify-content: center
    color: white

.a-section1:hover
    color: black

.div2-section1
    margin-left: 600px

//----- section 2-------------------//
#section2
    height: 300px
    margin-top: 50px

.divPrincipale-section2
    height: 290px
    display: flex
    justify-content: space-around

.div1-section2
    display: flex
    justify-content: center
    align-items: center
    height: 200px
    width: 450px
    background-image: url(../img/services/service-1.jpg)
    background-position: center
    background-size: 100%
    font-family: 'Roboto', sans-serif
    font-size: 30px
    color: white

.div2-section2
    display: flex
    justify-content: center
    align-items: center
    height: 200px
    width: 450px
    background-image: url(../img/services/service-2.jpg)
    background-position: center
    background-size: 100%
    font-family: 'Roboto', sans-serif
    font-size: 30px
    color: white

.div3-section2
    display: flex
    justify-content: center
    align-items: center
    height: 200px
    width: 450px
    background-image: url(../img/services/slider-3.jpg)
    background-position: center
    background-size: 100%
    font-family: 'Roboto', sans-serif
    font-size: 30px
    color: white

.p-section2
    width: 300px
    display: flex
    justify-content: center
    border-bottom: 3px solid white

.a-section2
    width: 300px
    display: flex
    justify-content: center
    border-bottom: 3px solid white
    color: white

.a-section2:hover
    color: black
    

//----- section 3-------------------//
#section3
    height: 1050px

.h3-section3
    margin-left: 350px
    margin-bottom: 50px

.p-section3
    margin-top: 15px
    margin-right: 10px 

.divContainer-section3
    height: 950px
    width: 900px
    background-color: white

.divCol4-section3
    display: flex
    flex-direction: column
    align-items: center
    font-family: 'Roboto', sans-serif

.article-section
    margin-top: 25px

.prix-section
    color: #dd4545

.del-section
    color: grey
    
.divSale-section3
    height: 60px
    width: 60px
    border-radius: 100%
    background-color: #dd4545
    display: flex
    justify-content: center
    align-items: center

.divSale-section3Bis
    height: 60px
    width: 60px
    border-radius: 100%
    background-color: #dd4545
    display: flex
    justify-content: center
    align-items: center
    margin-top: 40px

.img-section3
    height: 200px
    width: 250px

/*.img-section3:hover
    height: 300px
    width: 350px
    transition: 2s*/

//----- section 4-------------------//
#section4
    height: 600px
    background-image: url(../img/cta-bg.jpg)
    background-position: center
    background-size: 100%

.div-section4
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    color: white

.h1-section4
    font-size: 52px
    font-family: 'Roboto', sans-serif

.button-section4
    height: 30px
    border-radius: 10%
    font-size: 12px
    background-color: #dd4545
    color: white
    border: none
    font-family: 'Roboto', sans-serif

.button-section4:hover
    color: black

//----- section 5-------------------//
#section5
    height: 450px
    background-color: white
    margin-top: 20px

.divRow-section5
    margin-left: 100px
    height: 400px
    width: 900px
    background-color: white
    font-family: 'Roboto', sans-serif

.p-section5
    margin-top: 40px
    margin-left: 425px
    font-size: 25px

.div-section5
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.divBtnRond-section5
    display: flex
    margin-left: 380px
    margin-bottom: 30px


.btnRond
    height: 13px
    width: 13px
    border-radius: 100%
    border: solid 1px black
    background-color: white
    margin: 10px

//----- section 6-------------------//
.divPrinciaple-section6
    height: 350px

#div-cards
    background-color: #dd4545
    color: white

.div-cards
    height: 300px
    width: 400px
    background-color: #f2f2f2
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    margin: 10px

.div-cards:hover
    background-color: #dd4545
    color: white
    h5
        color: white
        button
            background-color: white
            color: black

.h5-section6
    font-size: 15px
    font-family: 'Roboto', sans-serif


.p-section6
    font-size: 13px
    font-family: 'Roboto', sans-serif

.button1-section6
    height: 30px
    border-radius: 10%
    border: none
    background-color: black
    color: white
    font-size: 12px
    font-family: 'Roboto', sans-serif


.button1-section6:hover
    background-color: white
    color: black


//----- footer -------------------//
.divPrincipale-footer
    height: 270px
    justify-content: center
    align-items: flex-end
    background-color: #393E41

#div-footer
    margin-right: 50px

.div-footer
    height: 250px
    width: 300px

.h5-footer
    font-size: 13px
    color: white
    font-family: 'Roboto', sans-serif

.p-footer
    margin-top: 20px
    font-size: 12px
    color: grey
    font-family: 'Roboto', sans-serif

#h6-footer
    margin-top: 20px
    font-size: 12px
    color: white
    font-family: 'Roboto', sans-serif

.h6-footer
    font-size: 12px
    margin-top: 20px
    color: white
    font-family: 'Roboto', sans-serif

#button-footer
    height: 30px
    border-radius: 10%
    margin-top: 20px
    font-size: 12px
    background: none
    border: solid 1px grey
    color: grey
    font-family: 'Roboto', sans-serif

#button-footer:hover
    background-color: white
    color: grey

.button-footer
    height: 30px
    border-radius: 10% 
    font-size: 12px
    background: none
    border: solid 1px grey
    color: grey
    margin: 3px

.button-footer:hover
    background-color: white
    color: grey

.divCopy-footer
    height: 70px
    color: grey
    background-color: black