//----- section header-------------------//
#sectionHeader
    height: 200px
    display: flex
    justify-content: center
    justify-content: space-around
    align-items: center
    flex-direction: column

.img-sectionHeader
    margin-top: 50px

#navBar
    margin-bottom: 10px
    font-family: 'Roboto', sans-serif
    
.li-sectionHeader
    margin: 30px
    margin-bottom: 20px
    
.li-sectionHeaderLast
    margin-top: 35px
    margin-bottom: 20px
    display: flex

.a-sectionHeader
    color: grey
    font-size: 10px

.a-sectionHeader:hover
    color: black


#modeClair
    margin-right: 5px
    border-radius: 20%

#modeSombre
    border-radius: 20%

//----- section 1-------------------//
.div-Supp-section1
    background-color: #f2f2f2
    align-items: center
    position: relative
    
    
.div1-section1
    height: 320px
    background-color: #f2f2f2
    z-index: 0
    margin-left: 150px
    position: absolute

.h1-section1
    color: red

.img1-section1
    height: 90px

.p-section1
    font-size: 12px

.button-section1
    background-color: red
    color: white
    height: 40px 
    width: 140px
    border: none
    font-size: 10px 

.div2-section1
    margin-left: 600px

//----- section 2-------------------//
