//----- section header-------------------//
#sectionHeader
    height: 200px
    display: flex
    justify-content: center
    justify-content: space-around
    align-items: center
    flex-direction: column

.img-sectionHeader
    margin-top: 50px

#navBar
    margin-bottom: 10px
    font-family: 'Roboto', sans-serif

    
.li-sectionHeader
    margin: 30px
    margin-bottom: 20px
    
.li-sectionHeaderLast
    margin-top: 35px
    margin-bottom: 20px
    display: flex

.a-sectionHeader
    color: grey
    font-size: 10px

.a-sectionHeader:hover
    color: black


#modeClair
    margin-right: 5px
    border-radius: 20%

#modeSombre
    border-radius: 20%

//----- section 1-------------------//
.div-Supp-section1
    background-color: #f2f2f2
    align-items: center
    position: relative
    
    
.div1-section1
    height: 320px
    background-color: #f2f2f2
    z-index: 0
    margin-left: 150px
    position: absolute

.h1-section1
    color: #dd4545
    font-family: 'Roboto', sans-serif



.img1-section1
    height: 90px

.p-section1
    font-size: 12px
    font-family: 'Roboto', sans-serif

.button-section1
    background-color: #dd4545
    color: white
    height: 40px 
    width: 140px
    border: none
    font-size: 10px 
    font-family: 'Roboto', sans-serif

.div2-section1
    margin-left: 600px

//----- section 2-------------------//
#section2
    height: 300px
    //background-color: red

.divRow-section2
    margin-top: 50px
    //width: 1000px

.divForh3-section2
    height: 100px
    width: 300px
    display: flex
    border-bottom: solid white 3px
    justify-content: center
    align-items: flex-end
    margin-bottom: 70px
    color:white

// div in row 1 //
.divInRow1-section2
    height: 200px
    background-color: blue
    display: flex
    align-items: center
    justify-content: center
    background-image: url(../img/services/service-1.jpg)
    

// div in row 2 //
.divInRow2-section2
    height: 200px
    background-color: blue
    display: flex
    align-items: center
    justify-content: center
    background-image: url(../img/services/service-2.jpg)
    //margin-left: 5px 

// div in row 3 //
.divInRow3-section2
    height: 200px
    background-color: blue
    display: flex
    align-items: center
    justify-content: center
    background-image: url(../img/services/slider-3.jpg)


//----- section 3-------------------//

